page-about-us {
  .imgs {
    width: 150px;
    height: 150px;
  }
  .item-inner{
    padding: 10px;
    border-bottom: none;
  }
  .item-ios.item-block .item-inner{
    padding: 10px;
    border-bottom: none;
  }
   .label-ios{
     margin: 0px;
   }
  .scroll-content{
    padding: 0px;
  }
}
