page-forget-password {
  .scroll-content {
    background: #eeedee;
    padding: 10px 0px 0px 0px
  }
  .item-inner {
    padding-right: 0px;
  }
  .item-ios{
    padding-left: 0px;
  }
  .label-ios{
    padding-left: 10px;
  }
  .item-ios.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0.2px solid  #eeedee;
    border-top: 0.2px solid  #eeedee;
  }
}
